<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="god_roll_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Main activity definition -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"> <!-- Ensure this line is added -->
            
            <!-- Intent filter for app launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Callback activity for FlutterWebAuth2 -->
        <activity
            android:name="com.linusu.flutter_web_auth_2.CallbackActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            
            <!-- Intent filter for handling custom URL scheme -->
            <intent-filter android:label="flutter_web_auth_2">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rollradar" />
            </intent-filter>
        </activity>

        <!-- Metadata for Flutter embedding and other configurations -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"/>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3312492533170432~2443244558"/>
    </application>
</manifest>
